{%load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="quizApp">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link type="text/css" rel="stylesheet" href="{% static 'Quiz/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'Quiz/css/base.css' %}">
</head>
<body>
    {% block content %}
    {{csrf_token}}
    {% endblock %}

    <script src="{% static 'Quiz/js/apps/vendors/angular.min.js' %}"></script>
    <script src="{% static 'Quiz/js/apps/vendors/angular-cookies.min.js' %}"></script>
    <script src="{% static 'Quiz/js/apps/vendors/angular-route.min.js' %}"></script>
	<!--<script src="{% static 'Quiz/js/apps/vendors/jquery-1.11.1.js' %}"></script>-->
    <!--<script src="{% static 'Quiz/js/apps/vendors/bootstrap.js' %}"></script>-->
    <script src="{% static 'Quiz/js/apps/vendors/bootstrap-without-jquery.min.js' %}"></script>
    <script src="{% static 'Quiz/js/apps/app.js' %}"></script>
    <script src="{% static 'Quiz/js/apps/controllers.js' %}"></script>
    <script src="{% static 'Quiz/js/apps/services.js' %}"></script>
	<script src="{% static 'Quiz/js/apps/vendors/ui-bootstrap-tpls-1.1.2.min.js' %}"></script>
	<script src="{% static 'Quiz/js/apps/vendors/angular-animate.min.js' %}"></script>
    <script src="{% static 'Quiz/js/apps/Time.js' %}"></script>

    <script>
    var app = angular.module('quizApp'); 
    app.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
    }]);
    </script>

</body>
</html>