{% extends 'Quiz/base.html' %}
{% load staticfiles %}
{% block content %}
<div>
    {% csrf_token %}
        <div ng-controller="MainController as controller">
            <nav class="navbar navbar-inverse navbar-fixed">
                <div class="container" role="menu">
                    <div class="navbar-header">
                        <!-- <img src="{% static 'Quiz/images/note.png' %}"> -->
                        <a href="#/" class="navbar-brand">Quiz</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: controller.isActive('/language')}"><a href="#/">Home</a></li>
                        <li ng-class="{active: controller.isActive('/language')}" class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
								Languages
							</a>
							<ul class="dropdown-menu" role="menu">
								{% for language in languages %}
									<li>
										<a href="#/language/{{language.pk}}">
											{{ language.language_name }}
										</a>
									</li>
								{% endfor %}
							</ul>
                        </li>
						<li ng-class="{active: controller.isActive('/user/[[controller.userService.user]]')}"
                            ng-if="controller.userService.isLoggedIn">
                            <a href="#/user/[[ controller.userService.user ]]">
                                [[ controller.userService.user ]]
                            </a>
                        </li>
                        <li ng-class="{active: controller.isActive('/play')}"><a href="#/play">Play</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
							<a href="#/login"
							   ng-hide="controller.userService.isLoggedIn">
							   login
							</a>
						</li>
						<li>
							<a ng-if="controller.userService.isLoggedIn"
								ng-click="controller.userDetail()" class="pointer inline">
								User Detail
							</a>
						</li>
                        <li>
							<a  ng-show="controller.userService.isLoggedIn"	
								ng-click="controller.logout()" 
								class="pointer inline">
								Logout
							</a>
						</li>
						
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container" ng-view></div>
</div>
{% endblock %}
